<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/style.css">
<head>
    <title>Login</title>
</head>
<body>
<h2>ログインフォーム<br>(SQLインジェクション用)</h2>
<form action="#" th:action="@{/sql/login}" method="post">
    <div>
        <label>ユーザ名:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>パスワード:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">ログイン</button>
    </div>
</form>
</body>
</html>
